<ion-header>
  <ion-toolbar>
    <ion-title>actualizar-empleo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list lines="full" class="ion-no-margin ion-no-padding">
    <ion-item>
      <ion-label position="stacked">Titulo</ion-label>
      <ion-input  [(ngModel)]="actEmpleo.titulo" placeholder="{{empleo.titulo}}" ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Descripcion  </ion-label>
      <ion-input  [(ngModel)]="actEmpleo.descripcion" placeholder="{{empleo.descripcion}}"  ></ion-input>
    </ion-item>
    
    <ion-item>
      <ion-label position="floating">Salario <ion-text color="danger">*</ion-text> </ion-label>
      <ion-input  [(ngModel)]="actEmpleo.salario" placeholder="{{empleo.salario}}" ></ion-input>
    </ion-item>

  </ion-list>

  <div class="ion-padding">
    <ion-button expand="block" type="submit" (click)="actualizarservices()" >Guardar</ion-button>
  </div>

</ion-content>
